/* Desktop Main Menu Color */

.wsmainfull {
  background-color: #122a3e;
  border-top:5px solid #ffca00;
  border-bottom: 5px solid #fc0000;
}

@media only screen and (max-width: 768px) {
  
.wsmainfull {
  background-color: #fff;
  border-top:0px solid #ffca00;
  border-bottom: 0px solid #fc0000;
}
.wsmenu>.wsmenu-list>li>a {
    color: #383131!important;
    font-family: myFirstFont;
    font-size: 14px;
}
  
}
.wsmenu>.wsmenu-list {
  background-color: #fff;
}

/* Mobile Header */

.wsmobileheader {
  background-color: #fff;
}

.wsmenu>.wsmenu-list>li>a {
  color: #fff;
      font-family: myFirstFont;
	  font-size:14px;
}

.wsmenu>.wsmenu-list>li>a .wsarrow:after {
  border-top-color: #b3b3b3;
}

.wsmenu>.wsmenu-list>li>a:hover .wsarrow:after {
  border-top-color: #fff;
}

.wsmenu>.wsmenu-list>li>a.active .wsarrow:after {
  border-top-color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a .wsarrow:after {
  border-top-color: #fff;
}

.wsmenu>.wsmenu-list>li>a>.fa {
  color: #55606c;
}

.wsmenu>.wsmenu-list>li>a.active .fa {
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a>.fa {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>a:hover .fa {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"] {
  background-color: #d7412e;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"] {
  background-color: #d7412e;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>a.active {
  background-color: #fc0000;
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a {
  background-color: #fc0000;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
  background-color: #fc0000;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
  background-color: #fc0000;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {
  background-color: #d7412e;
  color: #fff;
}